body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.friend {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding: 2px;
  background-color: whitesmoke;
}

.friend-image {
  display: flex;
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 100%;
  border: none;
  padding: 2px;
}

.friend-txt {
  padding: 5px;
  margin-right: 50px;
}

.friend-name {
  font-size: large;
  font-weight: bold;
}

.friend-btn {
  width: 80px;
  height: fit-content;
  padding: 8px;
  border-radius: 5%;
  background-color: rgb(224, 170, 70);
  font-weight: bolder;
  margin-left: auto;
  margin-right: 10px;
}

.friend-btn:hover {
  cursor: pointer;
  background-color: rgb(212, 145, 19);
}

.tb-friend-list {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

.add-form {
  background-color: rgb(238, 205, 144);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  padding: 10px;
}

.add-form input {
  margin-left: 15px;
  padding: 3px;
}

.add-form button {
  width: 60px;
  height: fit-content;
  padding: 5px;
  border-radius: 5%;
  background-color: rgb(224, 170, 70);
  font-weight: bolder;
  margin-top: 5px;
}

.add-form button:hover {
  cursor: pointer;
  background-color: rgb(212, 145, 19);
}
